<div class="columns is-mobile">
  <div class="column is-three-fifths is-offset-one-fifth">
    <p id="text" class="content">
      <%= story %>
    </p>
    <section class="section">
      <div class="field buttons is-centered">
        <button id="next" class="button is-primary is-hovered" disabled>Generate</button>
      </div>
    </section>
  </div>
</div>
