<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>TriangularTextus</title>
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
    <meta property="og:title" content="TriangularTextus" />
    <meta property="og:locale" content="en" />
    <meta name="description" content="TriangularTextus is a story we write." />
    <meta property="og:description" content="TriangularTextus is a story we write." />
    <meta property="og:url" content="https://triangulartext.us" />
    <meta property="og:site_name" content="TriangularTextus is a story we write." />
    <meta property="og:image" content="https://triangulartext.us/images/card.png" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@gjtorikian" />
    <meta name="twitter:image" content="https://triangulartext.us/images/card.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <script defer type="module" src="/js/main.js"></script>
    <script type="text/javascript">
      PleaseRotateOptions = {
        forcePortrait: false,
        message: "Rotate",
        subMessage: "",
        allowClickBypass: false
      };
    </script>
    <script
      type="text/javascript"
      src="/assets/javascripts/pleaserotate.js"
    ></script>
  </head>
  <body>
    <div class="holder is-size-3">
      <%= yield %>
    </div>
  </body>
</html>
